In [7]:
import streamlit_authenticator as stauth
hashed_passwords = stauth.Hasher(['1234']).generate()
hashed_passwords

['$2b$12$mJpz1YsWzdHadQ3c3BOfv.Nztv64aIHW2KKwmvV/TTF/WgFfU8WGK']

In [6]:
import pandas as pd
user_log = pd.DataFrame({
    'username':[],
    'date_visited':[]})
user_log.to_csv('user_log.csv')

In [2]:
import pandas as pd
user_log = pd.read_feather('user_log.feather')
user_log

,username,email,name,password
0,eskeans,es42289@gmail.com,Elii Skeans,$2b$12$mJpz1YsWzdHadQ3c3BOfv.Nztv64aIHW2KKwmvV...
1,abaechle,aaronmbaechle@gmail.com,Aaron Baechle,$2b$12$mJpz1YsWzdHadQ3c3BOfv.Nztv64aIHW2KKwmvV...
2,jbisha,jenny.bisha@gmail.com,Jenny Bisha,$2b$12$mJpz1YsWzdHadQ3c3BOfv.Nztv64aIHW2KKwmvV...

In [70]:
import yaml
def add_user_yaml(filename,username, email, name, password):
    with open(f'{filename}.yaml','r') as f:
        data = yaml.safe_load_all(f)
        list(data)[0]['credentials']['usernames'][f'{username}'] = {'email':f'{email}','name':f'{name}','password':f'{password}'}
    # with open(f'{test}.yaml', 'w') as file:
    #     yaml.dump_all(usernames,file, sort_keys=False)
    return list(data)
add_user_yaml('config', 'trial', 'trial@test.com', 'trial skeans', '1234')

[]

In [77]:
data = yaml.safe_load_all(open('config.yaml','r'))
username = 'trial'
email = 'trial@test.com'
name = 'trial skeans'
password = '1234'
list(data)[0]['credentials']['usernames'][f'{username}'] #= {'email':f'{email}','name':f'{name}','password':f'{password}'}
# list(data)

KeyError: 'trial'

In [10]:
# create grades_df
import pandas as pd
grades = pd.DataFrame({'username':[],'name':[],'date':[],'ELA':[], 'Math':[],'Science':[],'History':[], 'Phys. Ed.':[]})
grades.to_csv('grades.csv', index = None)

# grades.T

In [4]:
import pandas as pd
grades = pd.read_csv('grades.csv')
grades
pd.melt(grades, id_vars = ['username','name','date'],var_name = 'Subject',value_name = 'Grade')

   username         name                        date    Subject Grade
0   eskeans  Elii Skeans  2023-10-29 23:00:11.750130        ELA     C
1   eskeans  Elii Skeans  2023-10-29 23:00:30.511845        ELA     B
2   eskeans  Elii Skeans  2023-10-29 23:06:30.752459        ELA     F
3   eskeans  Elii Skeans  2023-10-29 23:08:06.688277        ELA     A
4   eskeans  Elii Skeans  2023-10-29 23:08:26.389077        ELA     B
5   eskeans  Elii Skeans  2023-10-30 21:26:54.652316        ELA     A
6   eskeans  Elii Skeans  2023-10-29 23:00:11.750130       Math     C
7   eskeans  Elii Skeans  2023-10-29 23:00:30.511845       Math     C
8   eskeans  Elii Skeans  2023-10-29 23:06:30.752459       Math     F
9   eskeans  Elii Skeans  2023-10-29 23:08:06.688277       Math     A
10  eskeans  Elii Skeans  2023-10-29 23:08:26.389077       Math     C
11  eskeans  Elii Skeans  2023-10-30 21:26:54.652316       Math     A
12  eskeans  Elii Skeans  2023-10-29 23:00:11.750130    Science     D
13  eskeans  Elii Skeans  2023-10-29 23:00:30.511845    Science     A
14  eskeans  Elii Skeans  2023-10-29 23:06:30.752459    Science     F
15  eskeans  Elii Skeans  2023-10-29 23:08:06.688277    Science     A
16  eskeans  Elii Skeans  2023-10-29 23:08:26.389077    Science     A
17  eskeans  Elii Skeans  2023-10-30 21:26:54.652316    Science     A
18  eskeans  Elii Skeans  2023-10-29 23:00:11.750130    History     C
19  eskeans  Elii Skeans  2023-10-29 23:00:30.511845    History     B
20  eskeans  Elii Skeans  2023-10-29 23:06:30.752459    History     A
21  eskeans  Elii Skeans  2023-10-29 23:08:06.688277    History     A
22  eskeans  Elii Skeans  2023-10-29 23:08:26.389077    History     D
23  eskeans  Elii Skeans  2023-10-30 21:26:54.652316    History     C
24  eskeans  Elii Skeans  2023-10-29 23:00:11.750130  Phys. Ed.     A
25  eskeans  Elii Skeans  2023-10-29 23:00:30.511845  Phys. Ed.     F
26  eskeans  Elii Skeans  2023-10-29 23:06:30.752459  Phys. Ed.     A
27  eskeans  Elii Skeans  2023-10-29 23:08:06.688277  Phys. Ed.     A
28  eskeans  Elii Skeans  2023-10-29 23:08:26.389077  Phys. Ed.     B
29  eskeans  Elii Skeans  2023-10-30 21:26:54.652316  Phys. Ed.     A

In [103]:
import datetime as dt
str(dt.datetime.today())
import plotly.express as px
df = px.data.tips()
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [90]:
grades = pd.DataFrame({'username':[],'name':[],'date':[],'ELA':[], 'Math':[],'Science':[],'History':[], 'Phys. Ed.':[]})
new_grades = pd.DataFrame({
    'username':username,
    'name': name,
    'date':str(dt.datetime.today()),
    'ELA': ela, 
    'Math': math,
    'Science': science,
    'History': history,
    'Phys. Ed.': physed
    })
grades = pd.concat([grades,new_grades], ignore_index =True, axis = 1)
grades

NameError: name 'ela' is not defined

In [15]:
# create grades_df
import pandas as pd
goals = pd.DataFrame({'username':[],'name':[],'date':[],'Goal':[]})
goals.to_csv('goals.csv', index = None)